.section-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.not-found,
.back-dash,
.back-i {
    text-align: center;
    font-size: 50px;
}

.back-i {
    list-style: none;
    color: #000;
    margin-top: 40px;
}

.back-i a {
    color: #8C52FF;
    font-size: 50px;
}