.main {
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}


.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    width: 10%;
    text-decoration: none;
}

.navbar a {
    font-size: 1.1rem;
    color: #000;
    margin-right: 3rem;
    text-decoration: none;
    font-weight: 600;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: black;
    cursor: pointer;
    display: none;
}

.backContent {
    position: fixed;
    left: 0;
    margin-top: 38%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-wrap: wrap;
    z-index: 1;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: moveInRow 5s linear infinite;
    -webkit-animation: moveInRow 5s linear infinite;
    animation: moveInRow 15s linear infinite;
    animation-delay: 1.5s;
}



@keyframes moveInRow {
    from {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    to {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.backContent span {
    margin-bottom: 30px;
    color: transparent;
    padding-right: 50px;
    font-size: 10rem;
    color: #cbc7c708;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0000001b;
}


.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -50px;
    overflow: hidden;
    z-index: 2;
}

.content h1 {
    font-size: 20rem;
}

.content h1,
.content p {
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    animation: popUp 1s forwards ease-in-out;
}


.content p {
    font-size: 3rem;
    margin-top: -50px;
    margin-left: -50px;
}


.content a {
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    margin-left: auto;
    background-color: #000;
    width: 10%;
    height: 5%;
    margin-right: auto;
    color: #fff;
    margin-top: 2%;
    padding-top: .5%;
    border: 1px solid #000;
    border-radius: 50px;
    opacity: 0;
    transform: translateY(50px);
    animation: popUp 1s forwards ease-in-out;
    animation-delay: 1s;
}

@keyframes popUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.content a:hover {
    background-color: #8C52FF;
    color: #fff;
    transition: .2s ease-in;
}


.content h1 span {
    color: #8C52FF;

}

.content .welcomeTitle {
    font-size: 9rem;
}

.content .welcomeP {
    font-size: 2rem;
    margin-top: 10px;
    margin-left: -50px;
}

.socialIcons {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.socialIcons i {
    font-size: 2rem;
    margin: 0 10px;
}

.welcomeBtnContainer {
    display: flex;
    gap: 10px; 
}

.welcomeBtnContainer a {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 30px;
    margin-top: 40px;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out;
}

.welcomeBtn:hover {
    background-color: #8C52FF;
}


@media (max-width: 992px) {


    .header {
        padding: 1.3rem 5%;
    }
    
    .content a {
        width: 20%;
    }

    .backContent {
        display: none;
    }

}


@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .backContent {
        display: none;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .content h1 {
        font-size: 7rem;
    }

    .content p {
        font-size: 1.2rem;
        margin-top: -10px;
        margin-left: .2%;
    }

    .content a {

        width: 30%;
        height: 5%;
        margin-top: 20px;
        padding-top: 8.2px;
        font-size: 15px;
        border: 1px solid #000;
        border-radius: 50px;
        opacity: 0;
        transform: translateY(50px);
        animation: popUp 1s forwards ease-in-out;
        animation-delay: 1s;
    }

}