

.note-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

input#name,
textarea {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 80vw;
    height: 100px;
    padding: 15px;
    font-size: 40px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-weight: 800;
    background: #ffffff41;
    border-radius: 10px;
}

input[type="text"]::placeholder,
textarea::placeholder {
    color: #000;
}

textarea {
    height: 600px;
    resize: vertical;
    font-size: 20px;
    font-weight: 100;
    resize: none;
}

.note-form {
    width: 100vw;
    box-sizing: border-box;
    padding: 20px;
}
.options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    margin-top: 30px;
}

.options select, .options input[type="date"] {
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    outline: none;
    background: #ffffff41;
    border-radius: 10px;
}

.submit-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
}

.submit-container input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    color: black;
    cursor: pointer;
    background: #ffffff41;
    border-radius: 10px;
    outline: none;

}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #E1E1E0, #ffffff, #ffffff, #ffffff, #ffffff);
    border-radius: 10px;
}



