.record-section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.record-note {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: transparent;
    flex-direction: row;
    padding-top: 5%;
    flex-wrap: wrap;
}

.each-note {
    width: 405px;
    height: 405px;
    background-color: #ffffff25;
    text-align: left;
    line-height: 30px;
    border-radius: 10px;
    margin-left: 58px;
    margin-top: 58px;
    border: 1px solid #cccccc8c;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.each-note p {
    margin: 0;
    transition: color .3s ease-in-out; 
}

.each-note .date {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 20px;
}

.each-note .name {
    font-size: 30px;
    text-align: left;
}

.each-note .type {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 20px;
}

.each-note .btn {
    display: none; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8C52FF;
    color: white;
    border: 1px solid #ffffff8c;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    opacity: 0; 
}

.each-note:hover .btn {
    display: block;
    opacity: 1;
}

.each-note:hover {
    background-color: #ffffff6d;
}

.each-note:hover p {
    color: transparent; 
}

.nothing-note {
    text-align: center;
    font-size: 24px; 
    margin-top: 50vh;
    margin-left: 90vh; 
}


@media (max-width: 992px) {


    .each-note {
        margin-top: 100px;
        width: 350px;
        height: 350px;
        margin-left: 50px;
        gap: 1px;
    }


}

@media (max-width: 768px) {
 
    .each-note {
        margin-top: 100px;
        width: 350px;
        height: 350px;
        margin-left: 20px;
        gap: 1px;
    }

}
