<main>
    <div class="section-404">
        <h2 class="not-found">Nothing here, page not found</h2>
        <h2 class="back-dash">Back to the home page</h2>
        <li class="back-i"><a href="/"><i class='bx bxs-dashboard'></i></a></li>
    </div>
</main>