<main>
    <div class="create-section">
        <div class="top-part">
            <div class="top-header">
                <div class="create-text">
                    <h1>Retrieve with Ease</h1>
                </div>
            </div>
        </div>
        <div class="bottom-part">
            <div class="bottom-section">
                <div class="user-note">
                    <div class="user-create-box">
                        <div class="form">
                            <form action="/notes/create" method="POST">
                                <label for="name">Name</label>
                                <input type="text" id="name" name="name">
                                <label for="name">Description</label>
                                <textarea id="name" name="description"></textarea>
                                <input type="submit" value="Create">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="work-note">
                    <div class="work-create-box">
                        <h1 class="work-text">test2</h1>
                    </div>
                </div>
                {{!-- <div class="create-text-bottom">
                    <h1>Would you like to try Lexie?</h1>
                    <button class="sign-up">Sign Up</button>
                </div> --}}
            </div>
        </div>
    </div>
</main>