<main>
    <div class="create-section">
        <div class="top-part">
            <div class="top-header">
                <div class="create-text">
                    <h1>Retrieve with Ease</h1>
                </div>
            </div>
        </div>
        <div class="bottom-part">
            <div class="bottom-section">
                <div class="user-note">
                    <div class="user-create-box">
                        <h1 class="user-text">test1</h1>
                    </div>
                </div>
                <div class="work-note">
                    <div class="work-create-box">
                        <h1 class="work-text">test2</h1>
                    </div>
                </div>
                {{!-- <div class="create-text-bottom">
                    <h1>Would you like to try Lexie?</h1>
                    <button class="sign-up">Sign Up</button>
                </div> --}}
            </div>
        </div>
    </div>
</main>