<main>
    <div class="left-side">
        <div class="left-side-top">
            <div class="left-side-head">
                <div class="dash-nav">
                    <ul class="dash-li">
                        <li><a href="/"><i class='bx bxs-chevrons-left'></i></a></li>
                    </ul>
                </div>
                <div class="dash-title">
                    <h1>Here you can start by creating your first note.</h1>
                </div>
            </div>
        </div>
        <div class="left-side-bottom">
            <div class="left-side-user">
                <div class="user-create-box">
                    <ul>
                        <li><a href="/notes/note"><i class='bx bxs-plus-circle'></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="main-nav">
            <ul>
                <li>
                    <a href="/">
                        <span class="icon"><i class='bx bx-home-alt-2'></i></span>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/records">
                        <span class="icon"><i class='bx bx-note'></i></span>
                        <span class="text">Notes</span>
                    </a>
                </li>
                <li>
                    <a href="/create">
                        <span class="icon"><i class='bx bxs-edit'></i></span>
                        <span class="text">Create</span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <span class="icon"><i class='bx bx-log-out'></i></span>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>