<main>
    <div class="left-side">
        <div class="dash-nav">
            <ul class="dash-li">
                <li><a href="/"><i class='bx bxs-chevrons-left'></i></a></li>
            </ul>
        </div>
        <div class="dash-title">
            <h1>Welcome 'USER',</h1>
            <p>Here, you can seamlessly organize and manage all your notes with Lexi's intuitive navigation and personalized organization features.</p>
        </div>
    </div>
    <div class="right-side">
        <div class="main-nav">
            <ul>
                <li><a href="/"><i class='bx bx-home-alt-2' ></i></a></li>
                <li><a href="/"><i class='bx bx-note'></i></a></li>
                <li><a href="/"><i class='bx bxs-edit'></i></a></li>
                <li><a href="/"><i class='bx bx-log-out'></i></a></li>
            </ul>
        </div>
        <div class="little-title"></div>
    </div>
</main>