<main class="main">
    <div class="left"></div>
    <div class="right">
        <div class="right-top">
            <div class="right-top-left"></div>
            <div class="right-top-right"></div>
        </div>
        <div class="right-bottom"></div>
    </div>
</main>