<main class="main">
    <div class="left">
        <nav class="left-nav">
            back
            <div class="left-nav-right">
                <ul class="menu">
                    <li><a href="/">Link1</a></li>
                    <li><a href="/">Link1</a></li>
                    <li><a href="/">Link1</a></li>
                    <i class='bx bxl-github'></i>
                </ul>
            </div>
        </nav>
        <div class="heading">
            <h1>Lexie,</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum delectus commodi illo dignissimos cumque dicta non deserunt magni repellat aliquid reprehenderit accusamus architecto, facilis debitis sunt quia quo atque magnam.</p>
            <li><a href="/">Read</a></li>
        </div>
    </div>
    <div class="right">
        <div class="right-top">
            <div class="right-top-left"></div>
            <div class="right-top-right"></div>
        </div>
        <div class="right-bottom"></div>
    </div>
</main>