<main class="main">
    <div class="left">
        <nav class="left-nav">
            <i class='bx bxs-home'></i>
            <div class="left-nav-right">
                <ul class="menu">
                    {{!-- <li><a href="/">Link1</a></li>
                    <li><a href="/">Link1</a></li>
                    <li><a href="/">Link1</a></li> --}}
                    <li><a href="/"><i class='bx bxl-github'></i></a></li>
                    <li><a href="/"><i class='bx bxl-linkedin-square'></i></a></li>
                </ul>
            </div>
        </nav>
        <div class="heading">
            <h1>Lexie,</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum delectus commodi illo dignissimos cumque dicta non deserunt magni repellat aliquid reprehenderit accusamus architecto, facilis debitis sunt quia quo atque magnam.</p>
            <li><a href="/">Learn more</a></li>
        </div>
    </div>
    <div class="right">
        <div class="right-top">
            <div class="right-top-left">
                <div class="box-text-left">
                    <h1>Thoughts and Ideas</h1>
                    {{!-- <p>Lexie is your creative sanctuary. It's the place where your ideas are born, nurtured, and set free into the world. Imagine a canvas where every stroke of your imagination finds a perfect home.</p> --}}
                </div>
            </div>
            <div class="right-top-right">
                  <div class="box-text-right">
                    <h1>Organize with Grace, Retrieve with Ease</h1>
                    {{!-- <p>Lexie stays with you wherever you go. Access your notes anytime, anywhere, while resting easy knowing your thoughts are safely stored and accessible only to you.</p> --}}
                </div>
            </div>
        </div>
        <div class="right-bottom">
            <div class="box-text-bottom">
                    <h1>Would you like to try Lexie?</h1>
                    <p>Please sign up and start your journey by clicking:</p>
                    <button>Sign Up</button>
                </div>
        </div>
    </div>
</main>