<main>
    <div class="notepad-body">
        <div class="notepad">
            <div class="top">Lexie</div>
            <textarea id="paper" cols="30" rows="10"></textarea>
        </div>
    </div>
</main>