<main>
    <form action="/records" method="GET">
        <input type="text" class="search" value="{{search}}" name="search" placeholder="Search...">
        <input type="date" name="from" class="date" value="{{from}}" placeholder="From Date">
        <input type="date" name="to" class="date" value="{{to}}" placeholder="To Date">
        <input type="submit" value="search">
    </form>
    {{!-- {{#if isOwner}} --}}
    <div class="record-section">
        {{#each notes}}
            {{>noteCard}}
        {{else}}
            <p>There are no notes yet</p>
        {{/each}}
    </div>
    {{!-- {{/if}} --}}
</main>