.create-section {
    width: 100%;
    height: 100%;
    background-color: wheat;
}

.top-part {
    display: flex;
    width: 100%;
    height: 25%;
    background-color: #eaf6f698;
}

.bottom-part {
    position: relative;
    width: 100%;
    height: 75%;
    background-color: #eaf6f698;
}

.top-header {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: purple;
}

.bottom-section {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: red;
}

.user-note {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: beige;
}

.work-note {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: aqua;
}

.user-create-box,
.work-create-box {
    margin-left: 25%;
    margin-top: 7%;
    width: 50%;
    height: 80%;
    background-color: red;
}

.create-text,
.create-text-bottom,
.user-text,
.work-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1080px) {
    .top-part {
        height: 20%;
    }
    .bottom-section {
        flex-direction: column;
    }

    .user-note {
        width: 100%;
    }
    .work-note {
        width: 100%;
    }

}