.left {
    width: 100%;
    height: 50%;
}

.left-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 50px 40px;
}

.left-nav i {
    font-size: 30px;
}

.left-nav-right {
    display: flex;
}

.left-nav-right ul {
    list-style: none;
    padding: 0;
    margin-right: 0;
}

.left-nav-right li {
    display: inline-block;
}

.left-nav-right a {
    text-decoration: none;
    color: #000;
    width: 100px;
    display: block;
    text-transform: uppercase;
}

.left .heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading h1 {
    font-size: 180px;
    font-weight: 900;
    border-right: 5px solid #dfdfdf;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.5s ,
        cursor .5s step-end infinite alternate;
}

.heading-p {
    font-size: 20px;
    width: 100%;
    margin-left: 100px;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}


.box-text-bottom {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.box-text-bottom li {
    margin-top: 20px;
    padding-top: 10px;
    font-size: 20px; 
    width: 120px;
    height: 40px;
    background-color: #cccccc98; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block; 
    text-align: center;
    list-style: none;
    margin-left: 20px;
}

.sign-up {
   text-decoration: none;
   color: #000;
}


@media (max-width: 1080px) {

    .heading h1 {
        width: 100%;
    }
    main {
        flex-direction: column;
    }

    main .left {
        width: 100%;
    }

    main .right {
        width: 100%;
    }
}

