.left {
    position: relative;
    width: 40%;
    height: 100%;
    background-color: #FFFFFF;
}

.left-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 30px;
}

.left-nav i {
    font-size: 30px;
}

.left-nav-right {
    display: flex;
    align-items: center;
}

.left-nav-right ul {
    list-style: none;
    padding: 0;
    margin-right: 0;
}

.left-nav-right li {
    display: inline-block;
}

.left-nav-right a {
    text-decoration: none;
    color: #000;
    width: 100px;
    display: block;
    text-transform: uppercase;
}

.left .heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading h1 {
    font-size: 100px;
    font-weight: 900;
    border-right: 5px solid #dfdfdf;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.5s,
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

.heading p {
    opacity: .6;
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading span {
    color: #000;
    font-weight: 800;
}

.heading a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;
}

.right {
    width: 60%;
    height: 100%;
    background-image: url('/images/organize.jpeg');
    background-size: cover;
    background-position: center;
}

.right-top {
    display: flex;
    width: 100%;
    height: 50%;
    background-color: #eaf6f698;

}

.right-bottom {
    position: relative;
    width: 100%;
    height: 50%;
    background-color: #eaf6f698;
    color: #fff;
}

.right-top-left {
    position: relative;
    width: 50%;
    height: 100%;
    border-right: 1px solid #cecece9f;
}

.right-top-right {
    position: relative;
    width: 50%;
    height: 100%;
}

.right-top-left,
.right-top-right {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.box-text-left,
.box-text-right,
.box-text-bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-text-left,
.box-text-right {
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.504);
}

.box-text-bottom {
    text-align: center;
    margin-top: 20px;
}

.sign-up {
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #9cf3fe96;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
}

@media (max-width: 1080px) {
    main {
        flex-direction: column;
    }

    main .left {
        width: 100%;
    }

    main .right {
        width: 100%;
    }
}

