<main>
    <div class="main-auth-page">
        <div class="form">
            <h1>Register</h1>
            <form method="POST">
                <div class="input-box">
                    <input type="text" id="username" name="username" placeholder="Username">
                    <span></span>
                </div>
                <div class="input-box">
                    <input type="password" id="password" name="password" placeholder="Password">
                    <span></span>
                </div>
                <div class="input-box">
                    <input type="password" id="repeatPassword" name="repeatPassword" placeholder="Repeat Password">
                    <span></span>
                </div>
                <input type="submit" class="submit-btn" value="Register">
                <div class="register-link">
                    Already registered?
                    <a href="/users/login">Login</a>

                </div>
            </form>
        </div>
    </div>
    {{#each errorMessages}}
    <div class="notification">
        <p class="notification-message">{{this}}</p>
    </div>
    {{/each}}
</main>