{{#if isOwner}}
<div class="each-note">
    <p class="name">{{name}}</p>
    <p><span>Type:</span>{{typeRelated}}</p>
    <p><span>Date</span>{{date}}</p>
    <a class="btn" href="/notes/{{_id}}/details">Details </a>
</div>
{{/if}}