<main>
    <div class="left-side">
        <div class="dash-nav">
            <ul class="dash-li">
                <li><a href="/"><i class='bx bxs-chevrons-left'></i></a></li>
            </ul>
        </div>
        <div class="dash-title">
            <h1>Welcome {{user.username}},</h1>
            <p>Here, you can seamlessly organize and manage all your notes with Lexi's intuitive navigation and
                personalized organization features.</p>
        </div>
    </div>
    <div class="right-side">
        <div class="main-nav">
            <ul>
                <li>
                    <a href="/">
                        <span class="icon"><i class='bx bx-home-alt-2'></i></span>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/notes/records">
                        <span class="icon"><i class='bx bx-note'></i></span>
                        <span class="text">Notes</span>
                    </a>
                </li>
                <li>
                    <a href="/notes/note">
                        <span class="icon"><i class='bx bxs-edit'></i></span>
                        <span class="text">Create</span>
                    </a>
                </li>
                <li>
                    <a href="/users/logout">
                        <span class="icon"><i class='bx bx-log-out'></i></span>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>