<main class="main">
    <header class="header">
        <a href="/">
            <img src="./images/logoL.png" alt="logo" class="logo">
        </a>
        <input type="checkbox" id="check">
        <label for="check" class="icons">
            <i class='bx bx-menu-alt-right' id="menu-icon"></i>
            <i class='bx bx-menu-alt-left' id="close-icon"></i>
        </label>
        <nav class="navbar">
            <a href="/" style="--i:0;">Home</a>
            {{#if isAuthenticated}}
            <a href="/notes/records" style="--i:1;">Your notes</a>
            <a href="/notes/note" style="--i:2;">Create</a>
            <a href="/users/logout" style="--i:3;">Logout</a>
            {{else}}
            <a href="/users/login" style="--i:4;">Login</a>
            <a href="/users/register" style="--i:5;">Register</a>
            {{/if}}
            <a href="/about" style="--i:6;">About</a>

        </nav>
    </header>
    <div class="content">
        {{#if isAuthenticated}}
        <h1 class="welcomeTitle">Welcome {{user.username}},</h1>
        <p class="welcomeP">Here, you can seamlessly organize and <br /> manage all your notes.</p>
        <div class="welcomeBtnContainer">
            <a class="welcomeBtn" href="/notes/records">All notes</a>
            <a class="welcomeBtn" href="/notes/note">Create note</a>
        </div>
        {{else}}
        <h1>Le<span>x</span>ie.</h1>
        <p>Works for your personal space</p>
        <a href="/users/register">Get Started</a>
        <div class="backContent">
            <span>Achive</span>
            <span>Improve</span>
            <span>Trust</span>
            <span>yourself</span>
        </div>
        {{/if}}
        <div class="socialIcons">
            <i class='bx bxl-linkedin'></i>
            <i class='bx bxl-github'></i>
        </div>
    </div>

</main>