<main class="main">
    <header class="header">
        <a href="/">
            <img src="./images/logoL.png" alt="logo" class="logo">
        </a>
        <input type="checkbox" id="check">
        <label for="check" class="icons">
            <i class='bx bx-menu-alt-right' id="menu-icon"></i>
            <i class='bx bx-menu-alt-left' id="close-icon"></i>
        </label>
        <nav class="navbar">
            <a href="/users/login" style="--i:0;">Login</a>
            <a href="/users/register" style="--i:1;">Register</a>
            <a href="/about" style="--i:2;">About</a>
        </nav>
    </header>
    <div class="content">
        <h1>Le<span>x</span>ie.</h1>
        <p>Works for your personal space</p>
        <a href="/users/register">Get Started</a>
        <div class="socialIcons">
            <i class='bx bxl-linkedin'></i>
            <i class='bx bxl-github' ></i>
        </div>
    </div>
    <div class="rightSide">
        <h1 class="headingRight">
            <span>progress</span><br />
            <span>thoughts</span><br />
            <span>yourself</span>
        </h1>
    </div>

</main>