<main class="note-main">
    <div class="dash-nav">
        <ul class="dash-li">
            <li><a href="/notes/records"><i class='bx bxs-chevrons-left'></i></a></li>
        </ul>
    </div>
    <div class="note-section">
        <div class="note-form">
            <form action="/notes/note" method="POST">
                <input type="text" id="name" name="name" placeholder="Untitled">
                <textarea id="description" name="description"></textarea>
                <div class="options">
                    <select id="type-related" name="typeRelated">
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                    </select>
                    <input type="date" value="Date" name="date">
                    <div class="submit-container">
                        <input type="submit" value="Create">
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>