<main>

    <div class="left-side">
        <div class="dash-nav">
            <ul class="dash-li">
                <li><a href="/dashboard"><i class='bx bxs-chevrons-left'></i></a></li>
            </ul>
        </div>
        <div class="record-section">
            <div class="record-note">
                {{#each notes}}
                {{>noteCard}}
                {{else}}
                <p class="nothing-note">There are no notes yet</p>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="main-nav">
            <ul>
                <li>
                    <a href="/">
                        <span class="icon"><i class='bx bx-home-alt-2'></i></span>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/notes/records">
                        <span class="icon"><i class='bx bx-note'></i></span>
                        <span class="text">Notes</span>
                    </a>
                </li>
                <li>
                    <a href="/notes/note">
                        <span class="icon"><i class='bx bxs-edit'></i></span>
                        <span class="text">Create</span>
                    </a>
                </li>
                <li>
                    <a href="/users/logout">
                        <span class="icon"><i class='bx bx-log-out'></i></span>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>