<main>
    <div class="main-auth-page">
        <div class="form">
            <h1>Login</h1>
            <form method="POST">
                <div class="input-box">
                    <input type="text" id="username" name="username">
                    <label for="Username">Username</label>
                    <span></span>
                </div>
                <div class="input-box">
                    <input type="password" id="password" name="password">
                    <label for="Password">Password</label>
                    <span></span>
                </div>
                <input type="submit" class="submit-btn" value="Login">
                <div class="register-link">
                    <p>
                        Don't have an account?
                        <a href="/users/register">Register</a>
                    </p>
                </div>
            </form>
            {{#if errorMessage}}
            <div class="notification">
                <p class="notification-message">{{errorMessage}}</p>
            </div>
            {{/if}}
        </div>
    </div>
</main>